absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
akshare==1.10.19
altair==5.3.0
anyio==3.5.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
astar==0.99
asttokens==2.0.5
async-timeout==4.0.2
attrs==22.1.0
audioread==3.0.0
backcall==0.2.0
backports.zoneinfo==0.2.1
baostock==0.8.8
bcrypt==4.0.1
beautifulsoup4==4.11.1
bleach==4.1.0
blinker==1.6.2
Box2D==2.3.10
brotlipy==0.7.0
bs4==0.0.1
cachetools==5.3.0
certifi==2024.6.2
cffi==1.15.1
charset-normalizer==2.0.4
click==8.1.7
colorama==0.4.6
comm==0.1.2
contourpy==1.0.7
cryptography==41.0.2
cycler==0.11.0
Cython==0.29.33
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
diagrams==0.23.4
Django==4.2.4
efinance==0.5.0
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
Faker==18.9.0
fastapi==0.84.0
fastjsonschema==2.16.2
ffmpy==0.3.0
fire==0.5.0
Flask==2.2.5
Flask-Cors==3.0.10
Flask-Login==0.6.2
flit_core==3.6.0
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2023.1.0
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.16.1
google-auth-oauthlib==0.4.6
gradio==3.4.1
graphviz==0.20.1
grpcio==1.51.3
h11==0.12.0
html5lib==1.1
httpcore==0.15.0
httpx==0.23.3
idna==3.4
imageio==2.26.0
importlib-metadata==6.0.0
importlib-resources==5.2.0
ipykernel==6.19.2
ipython==8.10.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
jsonpatch==1.32
jsonpath==0.82
jsonpointer==2.3
jsonschema==4.17.3
jupyter_client==7.4.9
jupyter_core==5.2.0
jupyter-server==1.23.4
jupyterlab-pygments==0.1.2
kiwisolver==1.4.4
librosa==0.9.2
linkify-it-py==2.0.0
llvmlite==0.39.1
lxml==4.9.1
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.1
matplotlib==3.7.0
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.4
mdurl==0.1.2
memory-profiler==0.58.0
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
MouseInfo==0.1.3
mss==9.0.1
multidict==6.0.4
multitasking==0.0.11
nb-conda==2.2.1
nb-conda-kernels==2.3.1
nbclassic==0.5.2
nbclient==0.5.13
nbconvert==6.5.4
nbformat==5.7.0
nest-asyncio==1.5.6
networkx==3.0
notebook==6.5.2
notebook_shim==0.2.2
numba==0.56.4
numpy==1.23.5
oauthlib==3.2.2
opencv-python==4.7.0.72
openpyxl==3.1.2
opt-einsum==3.3.0
orjson==3.8.7
packaging==23.1
pandas==1.5.3
pandas-datareader==0.10.0
pandoc-xnos==2.5.0
pandocfilters==1.5.0
paramiko==3.0.0
parso==0.8.3
patsy==0.5.4
pgmpy==0.1.24
pickleshare==0.7.5
pillow==10.3.0
pip==22.3.1
pkgutil_resolve_name==1.3.10
platformdirs==2.5.2
playsound==1.3.0
pooch==1.7.0
praat-parselmouth==0.4.3
prometheus-client==0.14.1
prompt-toolkit==3.0.36
protobuf==4.22.0
psutil==5.9.0
pure-eval==0.2.2
py==1.11.0
py-cpuinfo==9.0.0
py-mini-racer==0.6.0
pyarrow==16.1.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.12
PyAutoGUI==0.9.54
pycocotools==2.0.7
pycparser==2.21
pycryptodome==3.17
pydantic==1.10.5
pydeck==0.9.1
pydub==0.25.1
PyGetWindow==0.0.9
Pygments==2.16.1
PyMsgBox==1.0.9
PyNaCl==1.5.0
pyOpenSSL==23.2.0
pyparsing==3.0.9
pyperclip==1.8.2
pypinyin==0.49.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
PyRect==0.2.0
pyrsistent==0.18.0
PyScreeze==0.1.30
PySocks==1.7.1
python-dateutil==2.8.2
python-multipart==0.0.6
pytweening==1.2.0
pytz==2022.7.1
PyWavelets==1.4.1
pywin32==305.1
pywinpty==2.0.2
pyworld==0.3.2
PyYAML==6.0
pyzmq==23.2.0
requests==2.32.2
requests-oauthlib==1.3.1
resampy==0.4.2
retry==0.9.2
rfc3986==1.5.0
rich==13.5.2
rsa==4.9
scikit-image==0.19.3
scikit-learn==1.2.1
scikit-maad==1.3.12
scipy==1.10.0
seaborn==0.12.2
Send2Trash==1.8.0
setuptools==65.6.3
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
sortedcontainers==2.4.0
sounddevice==0.4.5
SoundFile==0.10.3.post1
soupsieve==2.3.2.post1
sqlparse==0.4.4
stack-data==0.2.0
starlette==0.19.1
statsmodels==0.14.1
streamlit==1.36.0
swig==4.1.1.post0
TA-Lib==0.4.19
tabulate==0.9.0
tenacity==8.5.0
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
termcolor==2.3.0
terminado==0.17.1
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tifffile==2023.2.28
tinycss2==1.2.1
toml==0.10.2
toolz==0.12.1
torch==1.13.1
torchaudio==0.13.1
torchnet==0.0.4
torchvision==0.14.1
tornado==6.2
tqdm==4.65.0
traitlets==5.7.1
typed-ast==1.5.5
typing_extensions==4.7.1
tzdata==2023.3
uc-micro-py==1.0.1
ultralytics==8.2.28
ultralytics-thop==0.2.7
urllib3==1.26.14
uvicorn==0.20.0
visdom==0.2.4
watchdog==4.0.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.58.0
websockets==10.4
Werkzeug==2.2.3
wheel==0.38.4
win-inet-pton==1.1.0
wincertstore==0.2
xlrd==2.0.1
yarl==1.8.2
zipp==3.11.0
